/* Topbar styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.main_header {
  display: inline-block;
  width: 100%;
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.main_navigation_items {
  display: inline-block;
  margin-left: 100px;
  padding-top: 10px;
}

.main_navigation_items a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  color: #05364d;
  font-size: 12px;
  font-weight: bold;
}

.main_navigation_items a .active {
  color: #efb6df;
}

.main_navigation_items a:hover {
  color: #efb6df;
}

.main_header_logo {
  display: inline-block;
  vertical-align: middle;
}

.main_navigation {
  display: inline-block;
}

/* Hero section styles */

/* Main-section */
.main-section {
  padding: 150px 0;
  height: 96vh;
}

.main-section>div {
  width: 50%;
  float: left;
}

.clearfix {
  clear: both;
}

.main-section_item-first {
  padding-top: 60px;
}

.to-uppercase {
  text-transform: uppercase;
}

.main-section_item-second {
  text-align: right;
}

.main-section_item-second img {
  width: 350px;
}

.main-section_info-one {
  font-size: 16px;
  font-weight: 300;
  color: gray;
  padding-bottom: 15px;
  letter-spacing: 2px;
}

.main-section_info-two {
  font-size: 57px;
  font-weight: 500;
  color: #05364d;
  padding-bottom: 10px;
}

.main-section_info-three {
  font-size: 25px;
  font-weight: lighter;
  color: #05364d;
  margin-bottom: 50px;
}

.main-section_item-icons a {
  font-size: 20px;
  text-decoration: none;
}

.main-section_item-icons .icon {
  margin-right: 10px;
  color: #05364d;
  margin-bottom: 50px;
}

.main-section_item-icons .icon:hover {
  color: #df39b0;
}

.button_work {
  border: none;
  padding: 20px 40px;
  background-color: #05364d;
  color: #ffff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
}

.main-section_item-third {
  margin-top: 20px;
}

.main-section_item-box {
  display: inline-block;
  text-align: center;
  background-color: #f8faff;
  width: 150px;
  margin-right: 20px;
  padding: 10px;
}

.main-section_item-box h2 {
  font-size: 27px;
  margin-bottom: 5px;
  color: #df39b0;
}

.main-section_item-box p {
  color: #797979;
  font-size: 16px;
  font-weight: 300;
}

/* ---------------------About me------------------- */
#about-me>div {
  margin: 100px 0;
  width: 50%;
  float: left;
}

.about-me_image img {
  width: 90%;
}

.about-me_info {
  padding-top: 30px;
  padding-left: 30px;
}

.about-me_subtitle {
  color: #797979;
  font-weight: 500;
  letter-spacing: 2px;
}

.about-me_subtitle span {
  background-color: #df39b0;
  filter: blur(4px);
  width: 80px;
  height: 4px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.about-me_title {
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  color: #05364d;
  line-height: 52px;
  padding-top: 20px;
}

.about-me_paragraph {
  color: #797979;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 27px;
  font-size: 14px;
  padding-top: 20px;
}

.button-about {
  margin-top: 40px;
}

/* -------------------Service section------------- */
#services {
  margin-top: 20px;
}

.sercice-card_main {}

.service-card {
  float: left;
  width: 30%;
  margin-right: 3%;
  background-color: #F8FAFF;
  padding: 60px 30px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 60px
}

.service-card_title {
  font-size: 20px;
  color: #05364d;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 25px;
}

.service-card_paragraph {
  font-size: 14px;
  color: #797979;
  line-height: 27px;
  letter-spacing: 1px;
}

.service-card .service-card_icon {
  text-decoration: none;
  font-size: 14px;
  color: #05364d;
  margin-top: 30px;
  display: inline-block;
}

.service-card:hover {
  background-color: #5F30FF;
}

.service-card:hover .service-card_title,
.service-card:hover .service-card_paragraph,
.service-card:hover .service-card_icon {
  color: #ffff;
}

/* ------------------Clients section--------------- */
#clients>div {
  margin: 100px 0;
  width: 50%;
  float: left;
}

#clients {
  margin-top: 100px;
}

.clients-title {
  font-size: 20px;
  color: #05364d;
  font-weight: 600;
  padding-top: 25px;
}

.clients-paragraph {
  color: #797979;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 27px;
  font-size: 14px;
}

.cliens-paragraph_small {
  display: block;
  padding-top: 5px;
  padding-bottom: 15px;
}

.clients-icons {
  margin-top: 15px;
}

.clients-icons .icon {
  color: yellow;
}

/* -----------------Portfolio section ------------------*/
.portfolio-lists {
  margin-top: 60px;
}

.portfolio-lists li {
  display: inline-block;
  margin-right: 40px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.portfolio-list-item a {
  text-decoration: none;
  color: black;
}

.portfolio-list-item .all,
.portfolio-list-item:hover a {
  color: #1345e6;
}

.portfolio-image {
  margin-top: 40px;
  position: relative;
}

.portfolio-image-item {
  position: relative;
  display: inline-block;
  width: 50%;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

.item-2{
  position: absolute;
  top: 0;
  right: 0;
}

.item-3{
  position: absolute;
  top: 326px;
  right: 0;
}


.portfolio-image-item img {
  width: 100%;
}

.portfolio-image-item:hover .overlay {
  top: 20px;
  left: 20px;
  background: rgba(19, 69, 230, 0.9);
  z-index: 1;
}

 .item-2:hover .overlay{
  top: 20px;
  left: 20px;
  background: rgba(19, 69, 230, 0.9);
}

.portfolio-image-item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.portfolio-image-item:hover .portfolio-info {
  visibility: visible;
  box-sizing: border-box;
  color: white;
  z-index: 2;
}

.portfolio-info {
  position: absolute;
  bottom: 44px;
  left: 80px;
  color: #ffffff;
  visibility: hidden;
}

.portfolio-info h3 a {
  text-decoration: none;
  color: white;
}

.portfolio-info p {
  font-size: 15px;
}


